<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="br.com.clebertm.procurados"
      android:installLocation="preferExternal" android:versionName="1.2.0" android:versionCode="3">
    <uses-sdk android:minSdkVersion="3" />
    <supports-screens android:smallScreens="true" android:normalScreens="true" android:resizeable="true" android:anyDensity="true" android:largeScreens="true"></supports-screens>
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"></uses-permission>
    <uses-permission android:name="android.permission.CLEAR_APP_USER_DATA"></uses-permission>
    <uses-permission android:name="android.permission.DELETE_CACHE_FILES"></uses-permission>

    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name=".ProcuradosActivity"
                  android:label="@string/app_name" android:theme="@style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name="SplashScreenActivity" 
				  android:theme="@style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        
        <activity android:name="InfoProcuradoActivity" 
				  android:label="@string/app_name" android:theme="@style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        
        <activity android:name=".DetalhesActivity" 
				  android:label="@string/app_name" android:theme="@style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        
        <activity android:name="com.google.ads.AdActivity"
              android:configChanges="keyboard|keyboardHidden|orientation"/>

    </application>
    
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	
</manifest>