<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ctm.eadvogado"
    android:versionCode="6"
    android:versionName="1.0.5" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.ctm.eadvogado.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.ctm.eadvogado.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:debuggable="false">
        <activity
            android:name="com.ctm.eadvogado.TermosDeUsoActivity"
            android:label="@string/app_name"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ctm.eadvogado.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.ctm.eadvogado.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ctm.eadvogado.PreferencesActivity"
            android:label="@string/menu_configuracoes"
            android:parentActivityName="com.ctm.eadvogado.MainActivity"
            android:windowSoftInputMode="adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ctm.eadvogado.MainActivity" />
        </activity>
        <activity
            android:name="com.ctm.eadvogado.ConsultarProcessoActivity"
            android:label="@string/activity_consultar_processo_title"
            android:parentActivityName="com.ctm.eadvogado.MainActivity"
            android:windowSoftInputMode="adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ctm.eadvogado.MainActivity" />
        </activity>
        <activity
            android:name="com.ctm.eadvogado.ProcessoTabsPagerFragment"
            android:label="@string/activity_processo_title"
            android:parentActivityName="com.ctm.eadvogado.ConsultarProcessoActivity"
            android:windowSoftInputMode="adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ctm.eadvogado.ConsultarProcessoActivity" />
        </activity>
        <activity
            android:name="com.ctm.eadvogado.MeusProcessosActivity"
            android:label="@string/activity_meus_processo_title"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.ctm.eadvogado.MainActivityOld"
            android:label="@string/app_name" >
        </activity>

        <service android:name="com.ctm.eadvogado.GCMIntentService" />

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.ctm.eadvogado" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.ctm.eadvogado" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.ctm.eadvogado.RegisterActivity"
            android:launchMode="singleTop" />
    </application>

</manifest>